body{
    margin: 0px;/*margin is 0px */
   background-color: #808080;/* dark grey color is added */
  }
  
  
  h1,h2,h3{
   font-family: 'Montserrat', sans-serif;/*font is montessart and family is sans-serif */
  
  }
  
  
  p,a,li,figcaption{/* paragraph, a , li will inherit following properties*/
    font-family: 'Roboto', sans-serif;
    font-size: 20px;/*font size is 20px */
    text-decoration: none;/* no text decoration*/
  }
  
  
  .flex > header{
  
    height:125px;/* height is 125 px*/
    padding: 10px 20px;/*padding of top and bottom */
    display: flex;/* displaying flex*/
    align-items: center;/*items will be aligned center */
  
    }
  
    .flex > header > div > a > img{
      width:auto;/* width of the image is auto*/
      height:90px;/* height is 100%*/
    }
  
    .flex > header > nav > ul {
     margin: 0px;/* margin is 0px*/
     list-style: none;/*removing the dots in list */
     display: flex;/* display flex*/
    }
  
    .flex > header > nav > ul > li{
      padding: 0px 15px;/* padding */
    }
  
  .center{
      /* class center will acquire the below stated properties*/
  
     height:100%;/* height will be auto adjusted*/
     display: block;
     margin-left: auto;/*both the left and right margin is auto*/
     margin-right: auto;
     width: 100%;/*70% width */
     text-align:  center;
   }
  
    .center img {
  
     width : 70%;
     border: 4px solid #000000;/*adding a border to the image*/
   } 
  
  
  
  .ok{
    /* ok class*/
     width: 70%;/*width is 70%*/
     margin:auto;/*margin is auto*/ 
     padding: 2%;
     height:75%;
     width:75%;
       border:solid #000000;/*adding a border to the image*/
  
  
   }
  
  
   footer{
  
     padding:2%;
     text-align: center;
  
   }
  
  
  
   @media screen and (max-width:1024px){
  
      nav > ul {
  
        width: auto;
      align-items: center;
        flex-flow:column;
  
      }
   }
  
  
   @media screen and (max-width:620px){
     header{
  height: auto;
  align-items: center;
    flex-flow:column;
  
     }
    }
  
